html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "PT Serif", serif;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px;
  overflow-x: hidden;
}

:root {
  --title-font: "Quattrocento", serif;
  --paragraphs-font: "Quattrocento Sans", serif;
  --paragraphs-color-dark: #2e2e2e;
  --titles-color-dark: #1a1a1a;
  --titles-color-light: #f5f5f5;
  --paragraphs-color-light: #ededed;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  overflow-x: hidden;
}

img {
  max-width: 400px;
  border-radius: 15px;
}

p {
  font-family: var(--paragraphs-font);
  color: var(--paragraphs-color-dark);
  font-weight: 400;
  letter-spacing: 1.1px;
  line-height: 18px;
}

nav,
main,
footer {
  width: 100%;
}

header {
  width: 100%;
  height: 500px;
  background-image: url("smanjene-slike-ordered/10.webp"),
    linear-gradient(rgb(0, 19, 51, 0.8), rgba(0, 19, 51, 0.8));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-blend-mode: darken;
  margin-bottom: 0px;
}

.logo {
  height: 75px;
  width: auto;
  border-radius: 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wider-screen-nav {
  align-self: center;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.nav-links a {
  color: var(--paragraphs-color-light);
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  letter-spacing: 1.5px;
  font-family: var(--title-font);
  font-size: 1.15rem;
}

.nav-links a:nth-child(1):hover,
.nav-links a:nth-child(2):hover,
.nav-links a:nth-child(3):hover {
  transform: scale(1.1);
  color: var(--titles-color-light);
}

#nav-book-button {
  border: 2px solid var(--paragraphs-color-light);
  background-color: rgb(55, 122, 0, 0);
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.book-now {
  background-color: rgb(55, 122, 0);
  padding: 23px 28px;
  color: var(--titles-color-light);
  text-decoration: none;
  border-radius: 5px; /* Optional: Adds rounded corners */
  font-weight: bold;
  font-size: 1.2em;
  transition: transform 0.3s ease, border-radius 0.3s ease;
  font-family: var(--title-font);
}

/* Hover effect with scaling */
.book-now:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  border-radius: 15px;
}

header > section {
  width: 60%;
  color: white;
  align-self: center;
  justify-self: center;
  margin-top: 35px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid transparent;
  animation: typingH1 0.8s steps(28) forwards, blink 0.6s step-end infinite 1.5s;
  font-family: var(--title-font);
  color: var(--titles-color-light);
  letter-spacing: 1.2px;
}

@keyframes typingH1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

header section p {
  color: var(--paragraphs-color-light);
  font-size: 1.25em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid transparent;
  width: 0;
  animation: typingP 0.7s steps(47) 0.5s forwards,
    blink 0.6s step-end infinite 5.5s;
  font-family: var(--paragraphs-font);
  font-weight: 400;
}

@keyframes typingP {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

header > section > .book-now {
  background-color: #042242;
  color: white;
  text-decoration: none;
  border: none;
  margin-top: 35px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}

article {
  width: 90%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

article h2 {
  font-size: 2rem;
  font-family: var(--title-font);
  color: var(--titles-color-dark);
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}

article p {
  color: var(--paragraphs-color-dark);
  text-align: center;
  margin-top: 5px;
}

article hr {
  width: 25%;
}

.price-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  height: 100%;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.first-block,
.second-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.price-wrapper {
  margin: 10px 15px;
  width: 100%;
  height: 530px;
  background-color: #fbfbf6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  opacity: 0;
}

.season {
  text-align: center;
  padding: 15px 0px;
  width: 100%;
  background-color: #001845;
  border-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: var(--title-font);
}

.season h2 {
  color: var(--titles-color-light);
  letter-spacing: 1.5px;
}

.first-block .price-wrapper:nth-child(2) .season {
  background-color: #002855;
}

.second-block .price-wrapper:nth-child(1) .season {
  background-color: #023e7d;
}

.second-block .price-wrapper:nth-child(2) .season {
  background-color: #0353a4;
}

.price {
  font-family: var(--title-font);
  font-family: var(--titles-color-dark);
  font-size: 2rem;

  margin-bottom: 30px;
  margin-top: 20px;
}

.euro-sign {
  font-size: 1.5rem;
  margin-left: 0px;
}

.pricing-details-wrapper {
  margin: 30px;
}

.details-subtitle {
  color: var(--titles-color-dark);
  font-weight: 500;
  font-size: 1.05rem;
}

span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--paragraphs-color-dark);
}

hr {
  background-color: #64b5f6;
  width: 100%;
  height: 2px;
  border: none;
  margin: 10px 0px;
}

.season-description {
  line-height: 18px;
  margin-top: 20px;
}

.smaller-screen-nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  color: white;
  margin-top: 15px;
  display: none;
}

.smaller-screen-nav img {
  max-width: 90px;
  height: auto;
}

.smaller-screen-nav {
  display: none;
}

#menu-icon {
  transition: transform 0.3s ease;
}

#menu-icon:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011832;
}

.contact-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-text p {
  color: var(--paragraphs-color-light);
  text-align: center;
  margin-top: 5px;
  font-weight: 350;
}

.contact-text hr {
  margin-bottom: 10px;
  margin-top: 50px;
  width: 15%;
  align-self: center;
}

h3 {
  text-align: center;
  color: var(--titles-color-light);
  font-size: 2.25rem;
  font-family: var(--title-font);
  margin-bottom: 10px;
  margin-top: 10px;
}

textarea {
  width: 100%;
  border-radius: 10px;
  border: 1.5px solid #64b5f6;
  background-color: #011832;
  color: var(--titles-color-light);
  font-family: "Arial", sans-serif;
  padding: 0px;
  padding: 10px;
  margin-block: 15px;
  padding-block: 25px;
  box-sizing: border-box;
}

input {
  color: var(--titles-color-light);
  border-radius: 10px;
  border: 1.5px solid #64b5f6;
  background-color: #011832;
  padding: 15px 20px;
  width: 48%;
  box-sizing: border-box;
}

.name-surname-wrapp,
.email-phone-wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0px;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-block: 40px;
}

input:focus,
textarea:focus {
  outline: 1.5px solid #e4f7d5;
}

.send-email-btn {
  margin-top: 20px;
  width: 25%;
  padding: 15px 10px;
  background-color: #0353a4;
  color: var(--titles-color-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: var(--title-font);
  letter-spacing: 1.5px;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.send-email-btn:hover {
  transform: scale(1.05);
  border-radius: 10px;
}

#status-message {
  text-align: center;
  margin-top: 20px;
  color: var(--paragraphs-color-light);
  font-family: var(--paragraphs-font);
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 5px;
}

input::placeholder,
textarea::placeholder {
  color: var(--titles-color-light);
  font-family: var(--paragraphs-font);
  font-size: 1.1rem;
  font-weight: 300;
}

footer {
  background-color: #000814;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-wrapper {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  align-self: center;
}

.footer-title {
  color: var(--titles-color-light);
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

footer hr {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer span,
footer p,
footer a {
  color: var(--paragraphs-color-light);
  font-weight: 300;
  font-family: var(--paragraphs-font);
  text-decoration: none;
}

.footer-icons {
  height: 20px;
  width: auto;
  margin-right: 10px;
  margin-left: -5px;
}

footer div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.info-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.copyright {
  color: var(--paragraphs-color-light);
  font-family: var(--paragraphs-font);
  font-weight: 400;
  margin: 20px;
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-1 17:1:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@media (max-width: 1600px) {
  header > section {
    width: 78%;
  }
}

@media (max-width: 1270px) {
  .price-section {
    width: 95%;
  }

  .price-wrapper {
    height: 570px;
  }
}

@media (max-width: 1420px) {
  header > section,
  .wider-screen-nav {
    width: 75%;
  }
}

@media (max-width: 1245px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1045px) {
  header > section,
  .wider-screen-nav {
    width: 85%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .wider-screen-nav {
    display: none;
  }

  nav {
    position: relative;
    z-index: 2;
  }

  .smaller-screen-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  .logo-menu-icons {
    display: flex;
    width: 95%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin-top: -15px;
    margin-right: -80px;
    width: 45%;
    padding: 30px 0px;
    background-color: rgb(0 25 54);
    border-bottom-left-radius: 100px;
    transition: transoform 0.3s ease;
    display: none;
  }

  .nav-links a {
    font-size: 2rem;
    margin: 20px;
    color: var(--paragraphs-color-light);
    text-transform: lowercase;
  }

  .nav-links a::first-letter {
    text-transform: capitalize;
  }

  .nav-links a:hover,
  .close-icon-menu:hover {
    transform: scale(1.2);
  }

  .close-icon-menu {
    width: 50px;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  header {
    position: relative;
    z-index: 0;
  }

  header > section {
    position: relative;
    z-index: 0;
  }
}

@media (max-width: 1100px) {
  .price-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .first-block,
  .second-block {
    width: 100%;
  }

  .price-wrapper {
    height: 500px;
  }
  .info-wrapper {
    width: 95%;
  }
  .info-wrapper div {
    margin: 10px;
  }
  .footer-title {
    font-size: 1.2rem;
  }

  footer p {
    font-weight: 300;
  }

  .copyright {
    font-weight: 200;
  }

  .contact-text {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .price-wrapper {
    height: 550px;
  }

  .price-section {
    width: 95%;
  }
  header > section {
    width: 95%;
  }

  .nav-links {
    margin-top: -15px;
    margin-right: -80px;
    width: 75%;
    padding: 50px 0px;
  }

  .close-icon-menu {
    margin-top: 0px;
    margin-right: 60px;
  }

  .contact-text {
    width: 70%;
  }

  form {
    width: 80%;
  }
}

@media (max-width: 730px) {
  #menu-icon {
    width: 60px;
  }
  .send-email-btn {
    width: 30%;
  }
}
@media (max-width: 570px) {
  .first-block,
  .second-block {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .price-wrapper {
    height: 470px;
    margin-bottom: 20px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .info-wrapper div {
    margin: 5px;
  }

  .info-wrapper p {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .contact-text {
    width: 90%;
  }

  .send-email-btn {
    width: 40%;
  }
  form {
    width: 90%;
  }

  .email-phone-wrapp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }

  #email,
  #phone {
    width: 100%;
  }

  #email {
    margin-bottom: 25px;
  }

  .name-surname-wrapp input {
    width: 48%;
  }
}

@media (max-width: 500px) {
  .nav-links {
    margin-top: -15px;
    margin-right: -80px;
    width: 95%;
    padding: 50px 0px;
    padding-right: 25px;
  }

  .close-icon-menu {
    margin-top: 0px;
    margin-right: 70px;
  }
}
